language: node_js

node_js:
  - '10'
  - '12'
  - '14'
  - '15'

# Use container-based Travis infrastructure.
sudo: false

branches:
  only:
    - master
    - /^greenkeeper/.*$/

script:
  - yarn test

after_success:
  - yarn run coverage
